<doctype html>
<title>Add User</title>
<h2>Add User</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputFormNumber" value="" type="text" placeholder="Form Number" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCaseNumber" value="" type="text" placeholder="Case Number" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCaseStatus" value="" type="text" placeholder="Case Status" autocomplete="off" required>
		</p>
		<p>
			<input name="inputFormDescription" value="" type="text" placeholder="Form Description" autocomplete="off" required>
		</p>
		<p>
			<input name="inputPassword" value="" type="password" placeholder="Password" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
